{% extends 'base.html.twig' %}

{% block body %}
    {{ include('micro-post/raw-post.html.twig', { 'post': post }) }}

    {% set isLiked = post.getLikedBy.contains(app.user) %}
    <div class="py-2">
        <button
            style="display: {% if not isLiked %}block{% else %}none{% endif %};"
            class="btn btn-outline-secondary btn-sm"
            id="like"
        >Like
            <span class="badge badge-light" id="likes-like">{{ post.getLikedBy.count }}</span>
        </button>

        <button
            style="display: {% if isLiked %}block{% else %}none{% endif %};"
            class="btn btn-outline-danger btn-sm"
            id="unlike"
        >Unlike
            <span class="badge badge-light" id="likes-unlike">{{ post.getLikedBy.count }}</span>
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var likeBtn = document.getElementById('like');
        var unlikeBtn = document.getElementById('unlike');

        addOnClick(
            likeBtn,
            unlikeBtn,
            document.getElementById('likes-unlike'),
            '{{ path('likes_like', {'id': post.id}) }}'
        );

        addOnClick(
            unlikeBtn,
            likeBtn,
            document.getElementById('likes-like'),
            '{{ path('likes_unlike', {'id': post.id}) }}'
        );

        function switchButtons(btn, oppositeBtn) {
            btn.disabled = false;
            btn.style.display = 'none';
            oppositeBtn.style.display = 'block';
        }

        function addOnClick(btn, oppositeBtn, likeCount, path) {
            btn.addEventListener('click', function (event) {
                {% if not app.user %}
                    return window.location.replace('{{ path('user_register') }}');
                {% endif %}

                btn.disabled = true;

                fetch(path, {'credentials': 'include'}).then(function (response) {
                    response.json().then(function (json) {
                        likeCount.innerText = json.count;
                        switchButtons(btn, oppositeBtn);
                    })
                }).catch(function () {
                    switchButtons(btn, oppositeBtn)
                });
                event.preventDefault();
            })
        }

    </script>
{% endblock %}
