{% extends 'base.html.twig' %}

{% block body %}
    {% if user %}
        <h3>Congratulation!</h3>
        <p> You your account is confirmed! You can now sign in <a href="{{ path('security_login') }}">here</a></p>
    {% else %}
        <p>Something went wrong. Please check your email.</p>
    {% endif %}
{% endblock %}
