{% extends 'base.html.twig' %}

{% block body %}

    <div class="card">
        {% if notifications|length > 0 %}
            <div class="card-body">
                <h5>Unread notifications</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a
                        class="btn btn-block btn-default btn-link btn-outline-info"
                        href="{{ path('notification_acknowledge_all') }}"
                    >
                        Mark all as read
                    </a>
                </li>
                {% for notification in notifications %}
                    {% if notification is like %}
                        <li class="list-group-item">
                            <a
                                href="{{ path('notification_acknowledge', { 'id': notification.getId }) }}"
                                class="btn btn-sm btn-primary float-right"
                            >
                                OK
                            </a>
                            <a href="{{ path('micro_post_user', { 'username': notification.getLikedBy.username}) }}">
                                {{ notification.getLikedBy.username }}
                            </a>
                            Likes your
                            <a href="{{ path('micro_post_post', { 'id': notification.getMicroPost.id }) }}">
                                post
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <div class="card-body">
                You have not notifications
            </div>
        {% endif %}
    </div>

{% endblock %}
