{% extends 'base.html.twig' %}

{% block title %}
  Post {{ post.title }}
{% endblock %}

{% block body %}
  <p>ID {{ id }}</p>
  <h2>{{ post.title }}</h2>
  <p>{{ post.text }}</p>
  <p>{{ post.date|date('H:i:s') }}</p>
  {{ 48565|price }}
  {{ locale }}
{% endblock %}
