{{ 'email.registration'|trans({
    '%name%': user.getFullName,
    '%confirm-link%': url('security_confirm', { 'token': user.getConfirmationToken}),
    '%login-link%': url('security_login')
})|raw }}
